<div class="container">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class='row'>
			<h4><small>Recent post</small></h4>
			<hr>
			<h2><%- page.title %></h2>
			<h4><small><span class="glyphicon glyphicon-time"></span> Post by <%= config.author %>, <%= date(page.date, config.date_format) %></small></h4> 
			<p>
				<%- page.content %>
			</p>
			<hr>
			<div>
				<a class='btn btn-success' href='<%- url_for(/) %>'>Volver</a>
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>

